table {
    overflow: auto;
}

#wrapper {
    height: 100%;   
    position: relative;
}

#sbTitle {
    text-align: center;
    color: #ffffff;
    background-color: #65BA98;
}

.player[move="rock"] {
    content: url("../images/rock.png");
}

.player[move="paper"] {
    content: url("../images/paper.png");
}

.player[move="scissors"] {
    content: url("../images/scissors.png");
}

.player[move="empty"] {
    content: none;
}

#player2 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

img.player {
    width: 100%;
    display: block  ;
}

#scoreboard {
    height: 300px;
    overflow-x: scroll;
}

a, p, table, span, h1, h2, h3, h4, div {
    font-family: 'Roboto Mono', monospace;
}

#bottomRPS {
    position: absolute;
    bottom: 0vw;
    width: 100%;
    z-index: -5;
    flex-shrink: 0;
}

#RPS1 {
    position: absolute;
    right: 1vw;
    top: 10vw;
    z-index: -1;
}

#RPS2 {
    position: absolute;
    left: 8vw;
    top: 22vw;
    z-index: -1;
}

#RPS4 {
    position: absolute;
    right: 23vw;
    bottom: 12vw;
    z-index: -1;
}

#gameContainer {
    background: white;
    opacity: 80%    
}

button {
    background-color: #65BA98;
}

button:hover {
    background-color: gray;
}